<html>
<head>
<title> first html program</title>
</head>
<body>
<h2>say something about yourself</h2></br>
<ul>
<li>
<a href="https://en.wikipedia.org/wiki/Hrithik_Roshan">
hrithik roshan biography  <img src="download.jpg"></br></li>
<li>
<a href="https://en.wikipedia.org/wiki/Katrina_Kaif" >
katrina kaif biography <img src="download (1).jpg"> </a></li>
</li>
</ul>
 <img src="IMG_20180626_124929.jpg " height=200 width=200>
 <form action=""method"">
 <input type="text" name=""></br></br>
 
 
</body>
</html>